.register-btn {
  color: white;
  text-decoration: none !important;
}

.text-uppercase:hover {
  color: black;
  text-decoration: none !important;
}
.loginInfo {
  color: red;
  text-align: center;
}
