.fa-thumbs-o-up {
  color: rgb(7, 6, 6);
  font-size: larger;
  font-family: cursive !;
}

.card-img-top {
  height: 14rem;
}

.card {
  background-color: rgba(255, 255, 255, 0.733);
  height: 35rem;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
}

.card-text-description {
  height: 8rem;
  overflow-y: auto;
}
.followersdiv {
  font-size: larger;
  background-color: yellow;
  border-radius: 1.5rem;
  color: orange;
}
