.customOverlay {
  background: rgba(0, 0, 0, 0.63);
}

.customModal {
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
}

.current-img-container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: large;
  width: 50%;
  margin-left: auto;
  bottom: 4.5rem;
}

.current-img {
  width: 100%;
  height: 9.375rem;
}

.uploaded-image-name {
  width: 100%;
  display: inline-block;
}

@media (max-width: 550px) {
  .current-img-container {
    position: static;
    display: inline-block;
    text-align: left;
    margin-bottom: 15px;
  }
}
